
body{
   background-image: url('SS.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}

fieldset{
    text-decoration-color: aliceblue;
    background-color:rgb(255, 240, 242)
}
legend
{
    color: rgb(245, 128, 128);
}
h2{
    color: darkcyan;
    text-decoration: underline;
}
#err{
    color: brown;
}
#errr{
    color: brown;
}
#errrr{
    color: brown;
}
#G{
    color: brown;
}
#PC{
    color: brown;
}
#E{
    color: brown;
}
#L{
    color: brown;
}
#Pw{
    color: brown;
}
#VF{
    color: brown;
}
#Y{
    color: brown;
}
