
body{
   background-image: url('SS.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}

fieldset{
    text-decoration-color: aliceblue;
    background-color: rgb(247, 246, 205);
}
legend
{
    color: rgb(175, 150, 241);
}
